.nav {
  align-items: center;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.title {
  color: white;
  font-size: 22px;
}

.search {
  align-items: center;
  display: flex;
  margin: 10px 0;

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 22px;
    padding: 5px;
    width: 200px;
  }

  &__button {
    background: $secondary-color;
    border: 1px solid black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;
  }
}

