@import 'normalize';
@import 'variables';

* {
  color: $text-color;
  font-family: 'Roboto', sans-serif;
}

.body-content {
  margin: auto;
  width: 95%;
}

.focus-header {
  outline: 0;
}

.search-label {
  display: none;
}

@import 'index';
