<header class="nav">
  <span class="title">LoveMyFood</span>
  <div class="search">
    <div class="search__input-container">
      {{input placeholder="Enter Food" class="search__input"}}
      {{input placeholder="Location" class="search__input"}}
    </div>
    <button class="search__button">Go</button>
  </div>
</header>

<section>
  {{outlet}}
</section>
