{{result-filter
  filterByCuisine="filterByCuisine"
  filterByPrice="filterByPrice"
  filterByOpen="filterByOpen"}}

<ul class="results">
  {{#each model.places as |place index|}}
    <li>{{profile-tile model=place.venue index=index class="place"}}</li>
  {{/each}}
</ul>
